<%= form_with(model: bpci_adjmnt_factor_r, local: true) do |form| %>
  <% if bpci_adjmnt_factor_r.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bpci_adjmnt_factor_r.errors.count, "error") %> prohibited this bpci_adjmnt_factor_r from being saved:</h2>

      <ul>
      <% bpci_adjmnt_factor_r.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :PROVIDER_CCN %>
    <%= form.text_field :PROVIDER_CCN, id: :bpci_adjmnt_factor_r_PROVIDER_CCN %>
  </div>

  <div class="field">
    <%= form.label :TOP_25TH_PERC_FY15 %>
    <%= form.number_field :TOP_25TH_PERC_FY15, id: :bpci_adjmnt_factor_r_TOP_25TH_PERC_FY15 %>
  </div>

  <div class="field">
    <%= form.label :TOP_25TH_PERC_FY16 %>
    <%= form.number_field :TOP_25TH_PERC_FY16, id: :bpci_adjmnt_factor_r_TOP_25TH_PERC_FY16 %>
  </div>

  <div class="field">
    <%= form.label :HAC_ADJMNT_FACTOR %>
    <%= form.text_field :HAC_ADJMNT_FACTOR, id: :bpci_adjmnt_factor_r_HAC_ADJMNT_FACTOR %>
  </div>

  <div class="field">
    <%= form.label :LTCH_IRF_ADJMNT_FACTOR %>
    <%= form.text_field :LTCH_IRF_ADJMNT_FACTOR, id: :bpci_adjmnt_factor_r_LTCH_IRF_ADJMNT_FACTOR %>
  </div>

  <div class="field">
    <%= form.label :FR12_APU_REDUCTION %>
    <%= form.text_field :FR12_APU_REDUCTION, id: :bpci_adjmnt_factor_r_FR12_APU_REDUCTION %>
  </div>

  <div class="field">
    <%= form.label :FR15_APU_REDUCTION %>
    <%= form.text_field :FR15_APU_REDUCTION, id: :bpci_adjmnt_factor_r_FR15_APU_REDUCTION %>
  </div>

  <div class="field">
    <%= form.label :FR16_APU_REDUCTION %>
    <%= form.text_field :FR16_APU_REDUCTION, id: :bpci_adjmnt_factor_r_FR16_APU_REDUCTION %>
  </div>

  <div class="field">
    <%= form.label :APU_IQR_ADJMNT_FACTOR_FY15 %>
    <%= form.text_field :APU_IQR_ADJMNT_FACTOR_FY15, id: :bpci_adjmnt_factor_r_APU_IQR_ADJMNT_FACTOR_FY15 %>
  </div>

  <div class="field">
    <%= form.label :APU_IQR_ADJMNT_FACTOR_FY16 %>
    <%= form.text_field :APU_IQR_ADJMNT_FACTOR_FY16, id: :bpci_adjmnt_factor_r_APU_IQR_ADJMNT_FACTOR_FY16 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
