<p id="notice"><%= notice %></p>

<p>
  <strong>Provider ccn:</strong>
  <%= @bpci_adjmnt_factor_r.PROVIDER_CCN %>
</p>

<p>
  <strong>Top 25th perc fy15:</strong>
  <%= @bpci_adjmnt_factor_r.TOP_25TH_PERC_FY15 %>
</p>

<p>
  <strong>Top 25th perc fy16:</strong>
  <%= @bpci_adjmnt_factor_r.TOP_25TH_PERC_FY16 %>
</p>

<p>
  <strong>Hac adjmnt factor:</strong>
  <%= @bpci_adjmnt_factor_r.HAC_ADJMNT_FACTOR %>
</p>

<p>
  <strong>Ltch irf adjmnt factor:</strong>
  <%= @bpci_adjmnt_factor_r.LTCH_IRF_ADJMNT_FACTOR %>
</p>

<p>
  <strong>Fr12 apu reduction:</strong>
  <%= @bpci_adjmnt_factor_r.FR12_APU_REDUCTION %>
</p>

<p>
  <strong>Fr15 apu reduction:</strong>
  <%= @bpci_adjmnt_factor_r.FR15_APU_REDUCTION %>
</p>

<p>
  <strong>Fr16 apu reduction:</strong>
  <%= @bpci_adjmnt_factor_r.FR16_APU_REDUCTION %>
</p>

<p>
  <strong>Apu iqr adjmnt factor fy15:</strong>
  <%= @bpci_adjmnt_factor_r.APU_IQR_ADJMNT_FACTOR_FY15 %>
</p>

<p>
  <strong>Apu iqr adjmnt factor fy16:</strong>
  <%= @bpci_adjmnt_factor_r.APU_IQR_ADJMNT_FACTOR_FY16 %>
</p>

<%= link_to 'Edit', edit_bpci_adjmnt_factor_r_path(@bpci_adjmnt_factor_r) %> |
<%= link_to 'Back', bpci_adjmnt_factor_rs_path %>
